

#location {
    margin: 10px;
    border: dotted #9881F5;
    background-color: #F9D08B;
    opacity: 0.95;
    display: inline-block;
    color:#29264E;
}

h3 {
    color: #29264E;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: left;
    padding: 4px;
}


li {
    padding: 4px 8px;
    border-bottom: 1 px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #29264E;
    text-decoration-style: wavy;
}

tr {
    border: dotted #9881F5;
}

a {
    color: #82AFF9;
    text-decoration: none;
}

a:hover {
    background-color: #29264E;
}



body {
    background-color: salmon;
}

/* color palette reference: https://www.colorcombos.com/color-schemes/6210/ColorCombo6210.html */