body {
    padding: 4px;
    margin: 2px;
    background-color: salmon;
    align-content: center;
}

h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
    font-weight: bold;
    color: #F9D08B;
    text-shadow: #9881F5 2px;
}

p {
    font-family: 'Raleway', sans-serif;
    color: #29264E;
    width: 60%;
    display: inline-block;
    border: dotted #9881F5;
    background-color: #F9D08B;
}